# Node modules
/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
/build/

# Dependency directories
/.pnp/
/.pnp.js

# dotenv environment variables file
.env
.env.test
.env.production

# Next.js build output
.next/

# TypeScript
*.tsbuildinfo

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
